<!DOCTYPE html>
<html lang="en">
  <head>
    <style type="text/css">

	.nav a{
    		float: left;
    		display: block;
    		color: #f2f2f2;
    		text-align: center;
    		padding: 18px 12px;
    		text-decoration: none;
		}

		.nav a:hover{
			color:green;
		}
		
		.nav #ap{
			padding: 12px 12px;
		}		
	
		.nav h1{
			display: block;
			float: left;
			font-size:3ex;
			color:white;
			padding:18px 0px
		}
		.nav span{
			width:60px;
			display: block;
			float: left;
		}
		.nav{
			width:100%;
			height:50px;
			overflow: hidden;
			background-color: black;
		}

    </style>
</head>

    <title>Home</title>

    <link rel="stylesheet" href="../../../static/css/home.css"/>

  </head>
  <body 
  background="../../../static/images/live-cricket-play-ground-hd-wallpapers-free.jpg">
    <!--Whole Container -->
    

      <!--Logo Holder-->
      
          <div class="rca-logo">
            <h2>
              <span><a href=""><img src="../../../static/images/79224.png" style="width: 50px;"></a>Cricket Statistics Management System</span></h2>
   
<div class="nav">
				<!--<span><a id ="ab" href=""><img src="../../../static/images/79224.png" style="width: 50px;"></a>Cricket Statistics Management System</span></h2>
				<h1>Cricket Statistics | </h1>-->
				<a href="/mysite/" >Home</a>  
				<a href="/mysite/livescore/" >LiveScore</a>
				<a href="/mysite/match/">Match</a>
				<a href="/mysite/compare/" >Compare</a>
				<a  href="/mysite/about/" >About</a>
</div>  

 <!-- <nav class="nav-collapse" role="navigation">
    <ul class="tabs primary-nav">
        <li class="tabs__item">
            <a href="#" class="tabs__link">Home</a>
        </li>
        <li class="tabs__item">
            <a href="cricket for matches page\index.html" class="tabs__link">Matches</a>
        </li>
        
        <li class="tabs__item">
            <a href="cricket for comparision page -\index.html" class="tabs__link">Comparisions</a>
        </li>
    </ul>
</nav>-->
<div class="box">
  <img src="../../../static/images/abde.jpg" alt="Paris" width="700" height="420">
  <p>Distraught. Disgraced. Devastated. Call it what they will, the leadership of the Australia team have dropped themselves into a ball-tampering debacle with the most junior player in the side, Cameron Bancroft, the man left standing in the dock. During a stunning press conference after day three of the third Test against South Africa here in Cape Town, Steve Smith freely stated that he had brought the game into disrepute with his direction in the matter but was adamant that he should keep the captaincy.</p>
</div><br/>
<div class="box-bottom-text style1"><strong>Gallery</strong></div>


<div class="box-bottom">
<ul class="slides">
    <input type="radio" name="radio-btn" id="img-1" checked/>
    <li class="slide-container">
    <div class="slide">
      <a href="Australian ball-tampering_ Steve Smith, David Warner & Cameron Bancroft punishments 'too harsh' - BBC Sport.html" target="blank">
      <img src="../../../static/images/smith.jpg" /></a>
        </div>
    <div class="nav">
      <label for="img-6" class="prev">&#x2039;</label>
      <label for="img-2" class="next">&#x203a;</label>
    </div>
    </li>

    <input type="radio" name="radio-btn" id="img-2" />
    <li class="slide-container">
        <div class="slide">
        <a href="Cameron Bancroft_ Will regret my actions for the rest of my life.html">
          <img src="../../../static/images/cameron-bancroft.jpg" /></a>
        </div>
    <div class="nav">
      <label for="img-1" class="prev">&#x2039;</label>
      <label for="img-3" class="next">&#x203a;</label>
    </div>
    </li>

    <input type="radio" name="radio-btn" id="img-3" />
    <li class="slide-container">
        <div class="slide">
        <a href="Bairstow, Wood steady England after middle-order wobble _ Cricbuzz.com.html">
          <img src="../../../static/images/eng.jpeg" /></a>
        </div>
    <div class="nav">
      <label for="img-2" class="prev">&#x2039;</label>
      <label for="img-4" class="next">&#x203a;</label>
    </div>
    </li>

    <input type="radio" name="radio-btn" id="img-4" />
    <li class="slide-container">
        <div class="slide">
        <a href="Starc out of IPL 2018 with 'tibial bone stress' _ Cricbuzz.com.html">
          <img src="../../../static/images/starc.jpeg" /></a>
        </div>
    <div class="nav">
      <label for="img-3" class="prev">&#x2039;</label>
      <label for="img-5" class="next">&#x203a;</label>
    </div>
    </li>

    <input type="radio" name="radio-btn" id="img-5" />
    <li class="slide-container">
        <div class="slide">
        <a href="ZC remove Cremer as captain, hand ultimatum to Streak and Co. _ Cricbuzz.com.html">
          <img src="../../../static/images/zim.jpeg" /></a>a>
        </div>
    <div class="nav">
      <label for="img-4" class="prev">&#x2039;</label>
      <label for="img-6" class="next">&#x203a;</label>
    </div>
    </li>

    <input type="radio" name="radio-btn" id="img-6" />
    <li class="slide-container">
        <div class="slide">
        <a href="IPL 2018_ All teams and their squad list.html">
          <img src="../../../static/images/ipl.jpg" /></a>
        </div>
    <div class="nav">
      <label for="img-5" class="prev">&#x2039;</label>
      <label for="img-1" class="next">&#x203a;</label>
    </div>
    </li>

    <li class="nav-dots">
      <label for="img-1" class="nav-dot" id="img-dot-1"></label>
      <label for="img-2" class="nav-dot" id="img-dot-2"></label>
      <label for="img-3" class="nav-dot" id="img-dot-3"></label>
      <label for="img-4" class="nav-dot" id="img-dot-4"></label>
      <label for="img-5" class="nav-dot" id="img-dot-5"></label>
      
    </li>
</ul>
</div>

<!---bottom image> slider-->


  </body>
  </html>
