{% extends "header.html" %}

{% block content %}
<style>
	.container{
		height:100%;
		padding:20px 20px;
		position:relative;
		border:1px solid black;
	}
	input[type="search"]{
		border:1px solid green;
		padding:10px;
	}
	table{
		font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    	border-collapse: collapse;
    	width: 90%;
	}
	
	td{
		border-collapse:collapse;
    	padding: 8px;
	}
	th{
		border-collapse:collapse;
    	padding: 8px;
		color:black;
		opacity:0.6;
	}
	
	h5{
		color:green;
	}
	#red{
		color:red;
	}

	#head{
		opacity:0.8;
	}
	tr:nth-child(even){background-color: #ddd;}

	tr:hover {background-color: #ddd;}
</style>
<div class="content">
	<div class="container">
		<form method="GET" class="compare-form" action="/mysite/compare/">
				<input type="search" name="player1" placeholder="type player" value="" />             
		  		<input type="search" name="player2" placeholder="type player" value="" />           
		  		<input type="search" name="player3" placeholder="type player" value="" />             
		  		<input type="search" name="player4" placeholder="type player" value="" /></br></br>
				<button type="submit">Compare</button> 
		</form>

		<div>
				{% if player1 and player2 or player3 or player4 %}</br></br>
				<h5>Batting Career</h5></br>
					<table>
						<tr>
							<th></th>
							<th id="head">{{player1.name}}</th>
							<th id="head">{{player2.name}}</th>
							<th id="head">{{player3.name}}</th>
							<th id="head">{{player4.name}}</th>
						</tr>
						<tr>	
							<th>Runs</th>
							<td>{{player1.Runs}}</td>
							<td>{{player2.Runs}}</td>
							<td>{{player3.Runs}}</td>
							<td>{{player4.Runs}}</td>
						</tr>
						<tr>
							<th>Fiftys</th>
							<td>{{player1.fiftys}}</td>
							<td>{{player2.fiftys}}</td>
							<td>{{player3.fiftys}}</td>
							<td>{{player4.fiftys}}</td>
						</tr>
						<tr>
							<th>Hundreds</th>
							<td>{{player1.hundreds}}</td>
							<td>{{player2.hundreds}}</td>
							<td>{{player3.hundreds}}</td>
							<td>{{player4.hundreds}}</td>
						</tr>
						<tr>
							<th>Matchplayed</th>
							<td>{{player1.matchplayed}}</td>
							<td>{{player2.matchplayed}}</td>
							<td>{{player3.matchplayed}}</td>
							<td>{{player4.matchplayed}}</td>
						</tr>
						<tr>
							<th>Average</th>
							<td>{{player1.average}}</td>
							<td>{{player2.average}}</td>
							<td>{{player3.average}}</td>
							<td>{{player4.average}}</td>
						</tr>
						<tr>
							<th>Run_rate</th>
							<td>{{player1.run_rate}}</td>
							<td>{{player2.run_rate}}</td>
							<td>{{player3.run_rate}}</td>
							<td>{{player4.run_rate}}</td>
						</tr>
						<tr>
							<th>HighScore</th>
							<td>{{player1.HighScore}}</td>
							<td>{{player2.HighScore}}</td>
							<td>{{player3.HighScore}}</td>
							<td>{{player4.HighScore}}</td>
						</tr>
					</table>
					</br></br>
					<h5>Bowling Career</h5></br>
					<table>
						<tr>	
							<th>Overs</th>
							<td>{{player1.overs}}</td>
							<td>{{player2.overs}}</td>
							<td>{{player3.overs}}</td>
							<td>{{player4.overs}}</td>
						</tr>
						<tr>
							<th>Wickets</th>
							<td>{{player1.wickets}}</td>
							<td>{{player2.wickets}}</td>
							<td>{{player3.wickets}}</td>
							<td>{{player4.wickets}}</td>
						</tr>
						<tr>
							<th>Economy</th>
							<td>{{player1.economy}}</td>
							<td>{{player2.economy}}</td>
							<td>{{player3.economy}}</td>
							<td>{{player4.economy}}</td>
						</tr>
						<tr>
							<th>Best-Streak</th>
							<td>{{player1.wicket_streak}}</td>
							<td>{{player2.wicket_streak}}</td>
							<td>{{player3.wicket_streak}}</td>
							<td>{{player4.wicket_streak}}</td>
						</tr>
					</table>
					{% else %}
						</br>
						<p id="red">*you must select two players</p>
					{% endif %}
		</div>
	</div>
</div>
{% endblock %}
{% include "footer.html" %}
